@page "/counter"

<h1>Counter</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h4>The User (@context.User.FindFirst(ClaimTypes.Name).Value) is authorized</h4>
    </Authorized>
    <NotAuthorized>
        <h4>The User is not authorized</h4>
    </NotAuthorized>
</AuthorizeView>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
